* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Khmer MN", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
}
/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 25px 0px;
}

.navbar_pages {
    position: relative;
}

#narrow {
    position: absolute;
    right: 100px;
    bottom: 0;
}

.navbar span {
    color: var(--Main-Colors-Secondary, #de8556);
    font-family: Cardo;
    font-size: 24px;
    font-weight: 400;
}

.navbar a {
    color: var(--Greyscale-Grey-100, #38343d);
    font-family: Cardo;
    font-size: 24px;
    font-weight: 400;
}

.navbar_menu {
    position: relative;
    display: flex;
    gap: 64px;
}

.navbar_menu a {
    color: var(--Greyscale-Grey-100, #38343d);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 400;
}

/* navbar pages toogle menu */

.navbar_pages {
    position: relative;
    color: var(--Greyscale-Grey-100, #38343d);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#pages-icon {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--Greyscale-Grey-100, #38343d);
}

.navbar_pages_show {
    position: absolute;
    top: 100%;
    left: 410px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    width: 250px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    transition: visibility 0s, opacity 0.3s linear, transform 0.3s ease;
    margin-top: 17px;
    border-radius: 2px;
    box-shadow: 0px 0px 20px 0px rgba(7, 6, 34, 0.06);
}

.navbar_pages_show.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.navbar_pages_show hr {
    padding: 2px;
    background-color: #de8556;
    border: none;
    border-radius: 2px;
}

.navbar_pages_show li {
    text-align: left;
    padding: 15px;
}

.navbar_pages_show li a {
    text-decoration: none;
    color: #333;
}

.navbar_registration {
    display: flex;
    gap: 24px;
    align-items: center;
}

.navbar_registration a {
    color: var(--Greyscale-Grey-100, #38343d);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 400;
}

.navbar_buy_icon {
    border-radius: 20px;
    background: #fff;
    box-shadow: -1px 1px 15px 0px rgba(9, 20, 49, 0.11);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_buy_icon i {
    font-size: 20px;
}

.navbar_registration button {
    border-radius: 2px;
    background: var(--Main-Colors-Secondary, #de8556);
    display: inline-flex;
    padding: 12px 28px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    color: white;
}

.nav-active .navbar_pages_show {
    transform: translateX(0);
}

.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    left: 250px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.nav-links a {
    color: #5f4646;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px 0;
}

#navbar_hamburger_menu {
    display: none;
    cursor: pointer;
}

#navbar_hamburger_menu .line {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #eee;
    transition: 0.3s ease;
    margin: 5px 0;
}

#navbar_hamburger_menu .line1,
#navbar_hamburger_menu .line2,
#navbar_hamburger_menu .line3 {
    width: 24px;
    height: 3px;
    background-color: black;
    transition: 0.3s ease;
}

#navbar_hamburger_menu .line2 {
    margin: 3px 0px;
}

.container {
    max-width: 95%;
    width: 1260px;
    margin: 0 auto;
}
/*login-main*/

.breadcrumb-container-login {
    background-color: #f4f4f4;
    padding: 80px 40px;
}

.breadcrumb-login {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

.breadcrumb-login h2 {
    font-size: 24px;
    margin: 0;
    font-family: "Plus Jakarta Sans";
}

.breadcrumb-login p {
    margin: 0;
    color: #666;
    font-family: Cardo;
}


.signin-container {
    max-width: 396px;
    margin: 0 auto;
    text-align: center;
    align-items: center;

}

.signin-container h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: Cardo;
}

.signin-container p {
    color: #666;
    margin-bottom: 30px;
    font-family: Cardo;
}

#signinform {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
   
    display: inline-block;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none; 
    height: 40px; 
}


#signinform .forgotpassword {
    align-self: flex-end;
    margin-bottom: 20px;
    font-size: 12px;
    color: #007BFF;
    text-decoration: none;
}

#signinform .forgotpassword:hover {
    text-decoration: underline;
}

#signinform button {
    width: 100%;
    padding: 10px;
    background-color: #005b75;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#signinform button:hover {
    background-color: #005b75;
}

.signuplink {
    margin-top: 20px;
    font-size: 14px;
}

.signuplink a {
    color: #007BFF;
    text-decoration: none;
    font-family: Cardo;
}

.signup-link a:hover {
    text-decoration: underline;
}
/*register-main*/


.breadcrumb-container-register {
    background-color: #f4f4f4;
    padding: 80px 40px;
}

.breadcrumb-register {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

.breadcrumb-register h2 {
    font-size: 24px;
    margin: 0;
    font-family: Cardo;
}

.breadcrumb-register p {
    margin: 0;
    color: #666;
    font-family: Cardo;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #333;
}

.description {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.register-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
}

.checkbox-container input {
    margin-right: px;
}

.registeryour {
    max-width: 396px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.register-form button {
    width: 100%;
    padding: 15px;
    background-color: #002333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00111a;
}

.login-link {
    font-size: 14px;
    margin-top: 10px;
    color: #666;
}

.login-link a {
    color: #002333;
    text-decoration: none;
    font-family: Cardo;
}

.login-link a:hover {
    text-decoration: underline;
}
/*faq-main*/
.faq-container {
    background-color: #f4f4f4;
    padding: 80px 40px;
}

.faq1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

.faq1 h2 {
    font-size: 24px;
    margin: 0;
    font-family: Cardo;
}

.faq1 p {
    margin: 0;
    color: #666;
    font-family: Cardo;
}

.accordion {
    width: 60%;
    margin: auto;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion-header h3 {
    margin: 0;
    font-size: 18px;
    color: rgb(16, 15, 15);
    font-family: Cardo;
}

.accordion-header.active h3 {
    color: orange;
    font-family: Cardo;
}

.accordion-header .icon {
    font-size: 20px;
}

.accordion-content {
    display: none;
    padding: 10px 0;
    color: #666;
}
/*countacusmain*/

.contactuscontainer {
    background-color: #f4f4f4;
    padding: 80px 40px;
}

.contactus {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

.contactus h2 {
    font-size: 24px;
    margin: 0;
    font-family: Cardo;
}

.contactus p {
    margin: 0;
    color: #666;
    font-family: Cardo;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0;
}

.contact-item {
    text-align: center;
}

.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fdecec;
    margin-bottom: 10px;
}

.icon-circle i {
    font-size: 24px;
    color: #fa8231;
}

.contact-item h3 {
    font-size: 20px;
    margin: 10px 0;
    font-family: Cardo;
}

.contact-item p {
    font-size: 10px;
    color: #555;
    font-family: Cardo;
}

.quote-form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quote-form h2 {
    margin-bottom: 20px;
    font-family: Cardo;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group input,
.form-group select {
    width: 48%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    resize: vertical;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

button {
    background-color: #0044cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0033aa;
}
/*service-details-main */
.servicesdetails-container {
    background-color: #f4f4f4;
    padding: 80px 40px;
}

.servicesdetails {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

.servicesdetails h2 {
    font-size: 24px;
    margin: 0;
    font-family: Cardo;
}

.servicesdetails p {
    margin: 0;
    color: #666;
    font-family: Cardo;

}


.container {
    width: 90%;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 40px;
    font-family:"Plus Jakarta Sans";
}

main {
    display: flex;
    justify-content: space-between;
}

.main-content {
    width: 70%;
}

.main-content img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.main-content p {
    margin-bottom: 20px;
        font-family: Cardo;
}

.images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.images img {
    width: 40%;
    height: auto;
}

.sidebar {
    width: 25%;
}

.sidebar h2 {
    font-size: 24px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
        font-family: Cardo;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}
/* services-main */
.breadcrumb-container-serv {
    background-color: #f4f4f4;
    padding: 80px 40px;
}

.breadcrumb-serv {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

.breadcrumb-serv h2 {
    font-size: 24px;
    margin: 0;
    font-family: "Plus Jakarta Sans";
}

.breadcrumb-serv p {
    margin: 0;
    color: #666;
    font-family: Cardo;
}

.our-services {
    text-align: center;
    padding: 50px 20px;
}

.our-services h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #333;
        font-family: Cardo;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service-card {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service-card .icon {
    font-size: 50px;
    color: #F4A261;
    margin-bottom: 15px;
}

.service-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.service-card p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
        font-family: Cardo;
}
/* Footer */

.footer_present {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--Main-Colors-Prymary, #123e56);

    border: 1px solid black;
}

.footer_present_img {
    width: 260px;
}

.footer_present_about {
    width: 469px;
}

.footer_present_about svg {
    stroke-width: 2px;
    stroke: var(--Main-Colors-Secondary, #de8556);
    width: 207px;
    height: 10px;

    margin-left: 200px;
}

.footer_present_about .look {
    color: #fff;
    font-family: Cardo;
    font-size: 38px;
    font-weight: 400;
}

.footer_present_about .home {
    color: #fff;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.footer_present_button button {
    border-radius: 2px;
    background: var(--Main-Colors-Secondary, #de8556);
    display: inline-flex;
    padding: 16px 40px 16px 39px;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 600;
}

.footer_about {
    padding: 64px 0px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer_home {
    color: var(--Greyscale-Grey-100, #38343d);
    font-family: "Khmer MN", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.footer_about_home span {
    color: var(--Main-Colors-Secondary, #de8556);
    font-family: "Khmer MN", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.footer_text {
    color: var(--Greyscale-Grey-80, #818181);
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    padding: 8px 0px 24px;
    width: 230px;
}

.footer_company_service {
    display: flex;
    gap: 159px;
}

.footer_about_home_phone,
.footer_about_home_email,
.footer_about_home_adress {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 20px;
}

.footer_about_home_icon,
.footer_about_home_email_icon,
.footer_about_home_adress_icon {
    fill: rgba(0, 0, 0, 0);
    width: 20px;
    height: 20px;
    color: #123e56;
}

.name {
    color: var(--Greyscale-Grey-100, #38343d);
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-weight: 400;
}

.info {
    color: var(--Greyscale-Grey-80, #818181);
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-weight: 400;
}

.footer_about_title {
    color: var(--Greyscale-Grey-100, #38343d);
    font-family: "Plus Jakarta Sans";
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 15px;
}

.footer_about_company a,
.footer_about_service a {
    display: flex;
    flex-direction: column;
    color: var(--Greyscale-Grey-80, #818181);
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 32px;
}

.form_footer {
    display: flex;
    gap: 8px;
    padding-bottom: 20px;
}

form button {
    border-radius: 2px;
    background: var(--Main-Colors-Prymary, #123e56);
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
}

form input {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    width: 256px;
    height: 40px;

    width: 251px;
}

input::placeholder {
    padding: 10px;
}

.footer_about_social_icon {
    display: flex;
    gap: 12px;
    color: white;
}

.footer_about_social_icon i {
    background-color: #de8556;
    width: 24.621px;
    height: 24.621px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

hr {
    border: solid 1px rgba(0, 0, 0, 0.06);
}

.footer_reserved_company {
    color: var(--Greyscale-Grey-80, #818181);
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 24px 0px 35px;
}

